  
<div class="row">
    <h3 class="card">{{article.title}}</h3>
    <h5 class="card-panel">{{body}}</h5>
</div>

<div class="row">
    <div class="col"></div>
    <form>
        <h5>Comment on this article</h5>
        <div class="row">
            <div class="input-field">
                <input id="icon_prefix" type="text" placeholder="Name" name="name">
            </div>
            <div class="input-field">
                <input id="icon_telephone" type="text" placeholder="comment" name="comment">
            </div>
        </div>
        <div class="row">
            <center><input class="btn add-comment" type="submit" value="submit"></center>
        </div>
    </form>
</div>
<div class="row">
    <div></div>
    <div>
        {{if article.comment}}
            {{each article.comment}}
                <div class="card">
                    <p id="commentName">{{name}}</p>
                    <p>{{body}}</p>
                </div>
            {{each}}
            {{else}}
                <p>Enter the first comment on this Article</p>
            {{/if}}
    </div>
</div>